@{
	ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
	<h1>@ViewBag.Title.</h1>
</hgroup>
<div>
<<<<<<< HEAD
    <p>
        Please check your SMS to reset your password.
    </p>
=======
	<p>
		Please check your email to reset your password.
	</p>
>>>>>>> Persons-fork
</div>
	
