@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This program is designed to help maintain and view Customers and their IP addresses. This is just a simple program on which a proper solution can be built.</p>
