@{
    ViewBag.Title = "Contact";
}
<h2>For Help... Contact</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ali Kuli Aminuddin<br />
    Gulkali, Main Harbanspura<br />
    Lahore, Pakistan<br />
    <abbr title="Phone">P:</abbr>
    0331.447.4120
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:alikuli62@gmail.com">alikuli62@gmai.com</a><br />
</address>